/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-main {
	display: block;
	position: relative;
	.tile-title-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	.tile-title-main {
		margin: 0 20px 0 0;
		flex-shrink: 0;
	}
	.tile-title {
		margin: 0;
		flex: 1;
	}
}
.item-tile-info {
	display: block;
	padding: 15px 0 25px 0;
	.tile-actions-wrap {
		margin-top: 15px;
	}
	.tile-title {
		margin-bottom: 10px;
	}
	.tile-action-wrap {
		margin-bottom: 25px;
		.btn {
			width: 100%;
		}
	}
	.tile-price-wrap {
		display: block;
		text-align: center;
		font-size: 18px;
	}
	.tile-price {
		display: inline;;
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.03);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
	flex-shrink: 0;
    &.photo-zoom {
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all ease 0.2s;
			width: 40px;height: 40px;
			border-radius: 50%;
			background: var(--clr-att) url(../img/icons/zoom.svg);
			background-size: 24px auto;
			transition: all ease 0.2s;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	.ftitle;
    &.price-old {
        text-decoration: line-through;
    }
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
	flex-shrink: 0;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #000;
	height: 27px;
	line-height: 27px;
	border-radius: 5px;
	padding: 0 12px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
@media (max-width: 1023px) {
	.item-tile-main {
		.tile-title-main {
			font-size: 32px;
		}
	}
}
@media (min-width: 768px) {
	.item-tile-info {
		display: flex;
		align-items: flex-end;
		padding: 4.7rem var(--paddingContent);
		.tile-info-wrap {
			flex: 1;
			padding: 0 var(--paddingContent) 0 0;
			margin: 0;
		}
		.tile-actions-wrap {
			width: 252px;
			flex-shrink: 0;
			padding: 0 0 15px 0;
			margin: 0;

		}
		.tile-title {
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 1024px) {
	.item-tile-main {
		.tile-title-wrap {
			display: block;
		}
		.tile-title-main {
			display: block;
			margin: 0 0 20px 0;
		}
		.tile-title {
			margin: 0 0 20px 0;
		}
	}
}