
<!-- header -->
<header class="header section-dark">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-title">Бюро градостроительной аналитики</div>
			</a>
		</div>
		<div class="popup-menu-wrap menu-inner-wrap js-popup-wrap">
			<a href="" class="btn-popup btn btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="#section01" class="btn-menu js-anchor">
							<div class="button-title">Услуги</div>
						</a>
					</li>
					<li>
						<a href="#section02" class="btn-menu js-anchor">
							<div class="button-title">О компании</div>
						</a>
					</li>
					<li>
						<a href="#section03" class="btn-menu js-anchor">
							<div class="button-title">Контакты</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<a href="tel:89255589077" class="btn btn-phone">
					<div class="button-title">+7 (925) 558-90-77 </div>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->